
	/*按鈕部件*/


/*按鈕設置*/
/*第一款 基本大按鈕*/
// @mixin btn-emBt($width,$height,$bt_color,$text_color)
// 	display: block
// 	width: $width
// 	height: $height
// 	background: $bt_color
// 	border-radius: 3px
// 	box-shadow: 0px 2px 5px $shadow_color
// 	@include text_style
// 	color: $text_color
// 	text-align: center
// 	line-height: $height
// 	&:hover
// 		box-shadow: 0px 10px 20px $shadow_color
// 		transform: translateX(-10px)

/*強調按鈕陰影設定*/
@mixin btnEm-shadow
	-webkit-box-shadow: 0px 0px 10px rgba(34,34,34,0.12)
	-moz-box-shadow: 0px 0px 10px rgba(34,34,34,0.12)
	box-shadow: 0px 0px 10px rgba(34,34,34,0.12)

/*頁面基本按鈕*/
@mixin btn-base($bgcolor,$color)
	display: inline-block
	width: auto
	height: 44px
	padding: 0 15px
	line-height: 42px
	border-radius: 6px
	background: $bgcolor
	color: $color
	font:
		family: 'Montserrat-Medium', sans-serif, NotoSansTC-Medium, sans-serif
		size: $text-16
		weight: 500
	letter-spacing: 1px
	float: left
	&:hover
		transform: translateX(8px)
		color: #FFF
		text-decoration: none
	.btn-base--icon
		margin-left: 10px
		width: 15px
		height: 15px
		vertical-align: -3px

/*編輯藍色按鈕*/
.btnBlue
	@include btn-base($color-info-500,#FFF)
	
/*次要綠色按鈕*/
.btnGreen
	@include btn-base($color-success-600,#FFF)

/*主色按鈕*/
.btnMainColor
	@include btn-base($primary-color-500,#FFF)
	border: 1px solid #FFF
	&:hover
		color: #FFF


/*淺主色按鈕*/
.btnMainColor100
	@include btn-base($primary-color-100,$main-color)
	width: auto
	&:hover
		color: $primary-color-500


/*主色外寬框編輯按鈕*/
.btnEdit
	@include btn-base(#FFF,$primary-color-500)
	border: 1px solid $primary-color-500
	&:hover
		color: $primary-color-500
	.icon
		vertical-align: -2px

/*刪除按鈕*/
.btnDelete
	@include btn-base(#FFF,$text-gray-300)
	border: 1px solid $text-gray-300
	&:hover
		color: $text-gray-300
	.icon
		vertical-align: -2px

/*頁面強調按鈕*/
.btnEm-bt
	display: block
	width: 210px
	height: 50px
	line-height: 50px
	background: $primary-color-700
	border-radius: 25px
	@include btnEm-shadow
	@include typoBasic
	text-transform: capitalize
	font:
		weight: 700
	color: #FFF
	padding: 0 20px 0 25px
	float: right 
	margin: 0 0 25px 10px
	transition: all 0.3s ease-in-out
	.btnEm-bt--icon
		padding: 14px 0 0 0
		float: right
	&:hover
		transform: translateX(10px)
		transition: all 0.3s ease-in-out
		color: #FFF

//表單操作按鈕
.btnField
	height: 42px
	display: inline-block
	@include typoBasic
	font:
		weight: 700
	color: $text-gray-200
	text-align: center
	letter-spacing: 0.5px
	padding: 0 15px
	line-height: 42px
	margin: 0 0 0 10px
	float: right
	border-radius: 7px
	box-shadow: 0px 2px 4px rgba(10,31,143,.3)
	border: 1px solid $line-gray
	transition: all 0.3s ease
	&:hover
		background: $line-gray
		color: $black
.btnField--submit
	color: #ffffff
	background: $primary-color-700
	&:hover
		color: #ffffff
		background: $primary-color-500
.btnField--active
	background: $line-gray
	color: $black
	&:hover
		background: $bg-gray-100
.btnField--add
	border: none
	box-shadow: none
	padding: 0 
	color: $black
	&:hover
		transform: translateX(10px)
		background: none
	img
		vertical-align: -5px
		margin-left: 10px
.btnField--select
	background: $line-gray
	color: $black
	// &:hover
	// 	color: $text-gray-200
	// 	background: #FFF


//白色按鈕
.btnWhite
	width: auto
	height: 56px
	border-radius: 11px
	background: #FFF
	box-shadow: 0px 3px 6px rgba(10,31,143,0.08)
	line-height: 56px
	padding: 0 25px
	@include typoBasic
	font:
		weight: 700
	color: $black
	display: block

//手機畫面頁面整份表單送出按鈕
.btnsubmitPhoneArea
	position: fixed
	bottom: 15px
	left: 30%
	width: 40%
	@include ipad
		left: 40%
		width: 20%
	@include computer 
		display: none
	.btnsubmitPhoneArea--bt
		width: 100%

//電腦版畫面頁面整份表單送出按鈕
.btnsubmitComputer
	display: block
	width: 210px
	height: 50px
	line-height: 50px
	background: $main-color
	float: right
	border-radius: 7px
	@include btnEm-shadow
	@include typoBasic
	text-transform: capitalize
	font:
		weight: 700
	color: #FFF
	padding: 0 20px 0 25px
	float: right
	margin: 0 0 0 10px
	.btnsubmitComputer--icon
		// padding: 14px 0 0 0
		// text-align: right
		float: right
		margin: 14px 0 0 0
	&:hover
		transform: translateX(10px)
		color: #FFF

.btnFieldIcon
	display: block
	width: 60px
	height: 44px 
	line-height: 44px
	text-align: center
	border-radius: 6px 
	border: 1px solid $line-gray 
	background: #FFF 
	padding: 5px 0 0 0
	float: right
	&:hover
		background: $line-gray  
		
