

	
/*卡片區*/
/*無分欄*/
// .cardFlex
// 	display: flex
// 	justify-content: flex-start
// 	align-items: flex-start
// 	flex-wrap: wrap
// /*gutter*/
// .cardGutter
// 	width: 100%
// 	padding: 0 15px 
// 	@include ipad
// 		width: 50%
// 	@include maxcom
// 		width: 33.33%

// /*card左右欄位*/
// .cardFlex--33
// 	width: 100%
// 	float: left
// 	@include ipad
// 		width: 50%
// 	@include maxcom
// 		width: 33.33%
// .cardFlex--66
// 	width: 100%
// 	float: left
// 	@include ipad
// 		width: 50%
// 	@include maxcom
// 		width: 66.66%
// .cardFlex--100
// 	width: 100%
// 	float: left

// .cardFlex--33
// 	.cardFlex--33--cardGutter
// 		width: 100%
// 		padding: 0 15px 
// 		@include ipad
// 			width: 100%
// 		@include maxcom
// 			width: 100%
// .cardFlex--66
// 	.cardFlex--66--cardGutter 
// 		width: 100%
// 		padding: 0 15px 
// 		@include ipad
// 			width: 100%
// 		@include maxcom
// 			width: 50%
// 	.cardFlex--66--cardGutter25 
// 		width: 100%
// 		padding: 0 15px 
// 		@include ipad
// 			width: 50%
// 		@include maxcom-1920
// 			width: 25%
// 	.cardFlex--66--cardGutter100
// 		width: 100%
// 		padding: 0 15px 
// 		@include ipad
// 			width: 100%


/*卡片*/
.card
	width: 100%
	border-radius: 6px
	background: #FFF
	box-shadow: 0px 0px 10px rgba(34,34,34,.08)	
	// padding: 30px 30px 25px 30px


/*卡片列表樣式*/			
.cardliLlistArea
	// display: none

.cardliList,.cardliList--titArea,.cardliList--asideInfo
	width: 100%
	overflow: hidden
	border-bottom: $gray-line
	@include computer
		@include flexNowrap
	&:last-of-type
		border-bottom: none
	.cardliList-content,.cardliList--titArea--tit
		font:
			weight: 500

.cardliList--titArea
	display: none
	@include computer
		@include flexNowrap
		background: $text-gray-100
		border-radius: 6px 6px 0 0
	.cardliList--titArea--tit
		line-height: 50px

.cardliList--asideInfo
	@include computer
		flex-direction: column
		align-items: start
