//字型崁入
@font-face 
    font-family: 'Montserrat-Regular'
    src: local("Montserrat")
    src: url('~@/assets/fonts/Montserrat/Montserrat-Regular.woff') format("woff")
    src: url('~@/assets/fonts/Montserrat/Montserrat-Regular.ttf') format("opentype")
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Montserrat-Medium'
    src: local("Montserrat")
    src: url('~@/assets/fonts/Montserrat/Montserrat-Medium.woff') format("woff")
    src: url('~@/assets/fonts/Montserrat/Montserrat-Medium.ttf') format("opentype")
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Montserrat-Bold'
    src: local("Montserrat")
    src: url('~@/assets/fonts/Montserrat/Montserrat-Bold.woff') format("woff")
    src: url('~@/assets/fonts/Montserrat/Montserrat-Bold.ttf') format("opentype")
    font-weight: bold
    font-style: bold

@font-face 
    font-family: 'NotoSansTC-Regular'
    src: local("Noto Sans CJK TC")
    src: url('~@/assets/fonts/Noto_Sans_TC/NotoSansTC-Regular.woff') format("woff")
    src: url('~@/assets/fonts/Noto_Sans_TC/NotoSansTC-Regular.otf') format("opentype")
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'NotoSansTC-Medium'
    src: local("Noto Sans CJK TC")
    src: url('~@/assets/fonts/Noto_Sans_TC/NotoSansTC-Medium.woff') format("woff")
    src: url('~@/assets/fonts/Noto_Sans_TC/NotoSansTC-Medium.otf') format("opentype")
    font-weight: normal
    font-style: normal


// @font-face 
//     font-family: 'Roboto-Italic'
//     src: local("Roboto")
//     src: url('~@/assets/fonts/Roboto/Roboto-Italic.woff') format("woff")
//     src: url('~@/assets/fonts/Roboto/Roboto-Italic.ttf') format("opentype")
//     font-weight: normal
//     font-style: normal

