/*模組區*/

#specialstuff
	background: $bg-gray-100 !important
	
.modLogoTitArea
	display: flex
	align-items: self-start
	// position: relative

.modLogoTitArea-logo
	// position: absolute
	// top: -40px
	width: 165px
	margin-top: -20px
	mix-blend-mode: darken
.modLogoTitArea-enTit
	margin-left: 45px
	min-width: 260px
	padding: 35px 40px 0px 40px
	background: $primary-color-900
	color: $primary-color-400
	line-height: 1.7
	min-height: 140px
.modLogoTitArea-decArea
	min-width: 700px
	background: $second-color
	height: 140px
.modLogoTitArea-enTit--long
	min-width: 280px
.modLogoTitArea-pageTitArea
	min-width: 690px
	background: $main-color
	height: 140px
.modLogoTitArea-pageTitArea--changeTit
	h5
		color: $primary-color-200
.modLogoTitArea-pageTitArea--chTit
	color: #FFF




