//網站框架

//手機視口header
.patSmlHeader
	width: 100%
	height: 54px
	padding: 0 0 0 15px
	position: fixed
	top: 0
	left: 0
	z-index: 3
	background: $main-color
	@include computer
		display: none
	.patSmlHeader-navbt
		width: 30px
		height: 30px
		margin: 12px 20px 0 0
		float: left
		cursor: pointer
		// transition: all 0.3s linear 0.2s
	.patSmlHeader-tit
		width: 200px
		@include typoNowrap
		line-height: 56px
		float: left
		color: #FFF
	.patSmlHeader-note
		position: relative
		float: right
		cursor: pointer
		margin: 16px 30px 0 0


//手機視口navgation
.patSmlNav
	width: 320px
	height: 100%
	position: fixed
	top: 0
	left: -320px
	z-index: 4
	overflow-y: auto
	background: #FFF
	.patSmlNav-closeBt
		width: 30px 
		height: 30px
		position: absolute
		right: 20px
		top: 20px
		cursor: pointer
	// .patSmlNavUser
	// 	width: 180px 
	// 	padding: 60px 0 40px 0
	// 	text-align: center
	// 	margin: 0 auto
	// 	@include typoBasic
	// 	.patSmlNavUser-photo
	// 		position: relative
	// 		width: 110px
	// 		height: 110px
	// 		margin: 0 auto
	// 	.patSmlNavUser-note--none,.patSmlNavUser-note--waring
	// 		width: 50px
	// 		height: 50px
	// 		border-radius: 23px
	// 		@include eleEm-shadow
	// 		position: absolute
	// 		z-index: 1
	// 		right: -15px
	// 		bottom: -5px
	// 		display: block
	// 		background: #FFF url(../images/ring-phone-none.svg) no-repeat
	// 		background-position: -4px -4px
	// 	.patSmlNavUser-note--waring
	// 		background: #FFF url(../images/ring-phone-waring.svg) no-repeat
	// 		background-position: -4px -4px
	// 	.patSmlNavUser-name
	// 		font:
	// 			size: $text-18
	// 			weight: 700
	// 		line-height: 1.8
	// 		color: #fff
	// 		margin: 12px 0 20px 0
	// 		letter-spacing: 0.5px
	// 	.patSmlNavUser-Bt
	// 		display: block
	// 		width: 180px
	// 		height: 48px 
	// 		line-height: 48px
	// 		border-radius: 24px
	// 		font:
	// 			weight: 700
	// 		margin: 10px 0 0 0
	// 		@include eleEm-shadow
	// 		color: #ffffff
	// 		&--edit
	// 			border: 2px solid rgba(255,255,255,0.26)
	// 		&--signOut
	// 			border: none
	// 			background: $primary-color_500
.patSmlNavopen_bg
	width: 100%
	height: 100%
	background: rgba(0,0,0,0.85)
	display: none
	position: fixed
	top: 0
	z-index: 3		


//手機視口通知區
.patSmlNavNote
	width: 320px
	height: 100%
	position: fixed
	top: 0
	left: -320px
	z-index: 5
	overflow-y: auto
	background: #FFF
	.patSmlNavNote-closeBt
		width: 30px 
		height: 30px
		position: absolute
		right: 20px
		top: 20px
		cursor: pointer
	.patSmlNavNote-note
		width: 100%
		background: $color-info-100
		border-bottom: 1px solid #FFF
		.patSmlNavNote-note--list
		.patSmlNavNote-note--list--link
			color: $color-info
			text-decoration: underline
			&:hover
				color: $main-color
		.patSmlNavNote-note--time
			.patSmlNavNote-note--time--icon
				margin-right: 10px
				vertical-align: -2px
			

		

//nav 功能連結
.patNavMenu
	width: 100%
	.patNavMenu-list,.patNavMenu-lan
		margin: 0 0 15px 0
		display: block
		border-bottom: $gray-line
		@include typoNowrap
		@include typoBasic
		line-height: 30px
		letter-spacing: 1px
		&:hover
			opacity: 1
	.patNavMenu-list--active
		opacity: 1
	.patNavMenu-icon
		vertical-align: -4px
		width: 20px
		height: 20px
		margin: 0 15px 0 0
	.patNavMenu-lan
		opacity: 1
		margin: 0 0 15px 30px
	.patNavMenu-secondList
		width: 100%
		padding: 0 30px 10px 96px 
		margin: 0 
		&:last-of-type
			padding: 0 30px 20px 96px 


//電腦視口navgation
.patBigNav
	display: none
	width: 90px
	height: 100%
	background: $black
	// position: relative
	// position: fixed
	// top: 0
	// z-index: 2
	// overflow-y: auto
	// background-blend-mode: overlay
	// background-size: 100% auto
	@include computer
		display: flex
		align-content: center
		flex-wrap: wrap
		position: fixed
		z-index: 3
	.patBigNav-note
		width: 30px
		height: 30px
		position: relative
		top: 35px
		margin: 0 0 0 35px
		.patBigNav-note--count
			right: -16px
			top: -9px
	.patBigNav-link
		height: auto
	.patBigNav-bt,.patBigNav-bt--pagein
		width: 70px
		height: 70px
		margin: 0 0 5px 10px
		background: $black
		line-height: 85px
		transition: all 0.5s ease-in-out
		text-align: center
		border-bottom: 5px solid $black
		border-radius: 6px
		&:hover
			border-bottom: 5px solid $primary-color-700
			background: $primary-color-500
			box-shadow: 0px 8px 20px rgba(1,37,122,.12)
			.patBigNav-bt--icon
				mix-blend-mode: luminosity
				opacity: 1
				// mix-blend-mode: exclusion
				// mix-blend-mode: darken
		.patBigNav-bt--icon
			width: 70px
			height: 70px
			// padding: 20px
			padding: 18px 20px 22px 20px
			opacity: 0.5
	.patBigNav-bt--pagein
		width: 70px
		height: 70px
		margin: 0 0 5px 10px
		background: #FFF
		line-height: 85px
		transition: all 0.5s ease-in-out
		text-align: center
		border-bottom: 5px solid $primary-color-700
		background: $primary-color-500
		box-shadow: 0px 8px 20px rgba(1,37,122,.12)
		.patBigNav-bt--icon
			width: 70px
			height: 70px
			// padding: 20px
			padding: 18px 20px 22px 20px
			mix-blend-mode: luminosity
			opacity: 0.8
	.patBigNav-logout
		width: 70px
		height: 70px
		padding: 20px
		display: block
		margin: 0 0 10px 15px
		&:hover
			mix-blend-mode: exclusion
			// opacity: 0.6
		.patBigNav-logout--icon
			width: 30px
			height: 30px
			


/* 電腦視口header*/
.patBigHeader
	width: 100%
	background: #FFF url(../images/header-bg.svg) no-repeat
	display: none
	@include computer
		display: block
		padding: 0 30px
	@include maxcom-1920
		padding: 0 50px
/*案場概觀底圖*/
.patBigHeader--plant
	width: 100%
	height: 195px
	background: #FFF 
	position: absolute
	overflow: hidden
	@include computer
		margin: 0 -30px
	@include maxcom-1920
		margin: 0 -50px
	.patBigHeader--plant--img
		position: absolute
		top: -220%
		opacity: 0.8
		filter: brightness(1.2) blur(5px)
		
//倒數計時及使用者資訊
.patTimeUser
	width: 100%
	padding: 20px 0 0 0
	.patTimeUser-time
		width: auto
		@include typoBasic
		font:
			weight: 600
		color: $text-gray-100
		line-height: 26px
		float: left
		padding-top: 5px
		position: relative
		z-index: 1
		.patTimeUser-time--Icon	
			vertical-align: -8px
			width: 26px
			height: 26px
			margin-right: 15px
	.patTimeUser-note
		cursor: pointer
		float: right
		width: 50px
		height: 50px
		@include eleClick-effect
		.patTimeUser-note--none,.patTimeUser-note--waring
			margin: 8px 0 0 9px
	.patTimeUser-dropdown
		width: 220px
		.patTimeUser-dropdown--list
			padding-top: 8px !important
			padding-bottom: 8px !important
	.patTimeUser-user
		width: auto
		float: right
		height: 50px
		cursor: pointer
		margin: 0 0 0 20px
		.patTimeUser-user--photo
			width: 50px
			height: 50px
			overflow: hidden
			border-radius: 50%
			margin: 0 15px 0 0
			float: left
		.patTimeUser-user--name
			width: auto
			height: 50px
			margin: 0 15px 0 0
			line-height: 50px
			float: left
			font:
				weight: 700
				size: $text-17
			letter-spacing: -0.2px
		.patTimeUser-user--icon
			margin-top: 12px
			float: left



//頁面結構框架
.patWrapper
	margin: 54px 0 0 0
	@include computer
		margin: 0 0 0 90px
.patMainbody
	width: 100%
	@include computer
		width: auto
		margin-left: 320px !important
	@include maxcom
		margin-left: 320px !important

.patPrimary
	width: 100%
	padding: 15px 0
	@include ipad
		padding: 15px 15px
	@include computer
		padding: 30px 15px
	@include maxcom-1920
		padding: 30px 35px


//頁面header區
.patHeader
	background: #FFF url(../images/header-bg.svg) no-repeat
	background-position: right bottom
	padding: 0 30px
	overflow: hidden
	line-height: 0
	position: relative
	@include computer
		min-height: 260px
		background-position: 95% 102%
		padding: 0 45px
.patHeader--page
	margin-top: 110px
	@include ipad
		margin-top: 0px
// 搜尋區
.patHeader-searchCountBk
	width: 100%
	overflow: hidden
	padding: 30px 0 0 0
.patHeader-searchBk
	position: relative
	@include ipad
		width: 300px
		float: left
.patHeader-search
	width: 100% 
	border: 1px solid rgba(255,255,255,0.3) 
	background: $primary-color-600 
	color: #FFF 
	height: 44px 
	border-radius: 6px 
	line-height: 44px 
	padding: 0 20px 
	font:
		family: $text-style 
		size: $text-16 
		weight: 400 
	color: #FFF 
	transition: all 0.3s linear 
	&::-webkit-input-placeholder
		color: rgba(255,255,255,0.5)  !important
	&::-moz-placeholder  /* Firefox 19+ */
		color: rgba(255,255,255,0.5) !important
	&:-ms-input-placeholder  /* IE 10+ */
		color: rgba(255,255,255,0.5)  !important
	&:-moz-placeholder  /* Firefox 18- */
		color: rgba(255,255,255,0.5) !important
.patHeader-search--bt
	width: 40px
	height: 40px
	display: block
	position: absolute
	right: 12px
	top: 1px
	background: $primary-color-600 
	&:hover
		transform: translateX(8px)
//回上頁
.patHeader-backBt
	display: block
	// float: left
	width: auto
	font:
		size: $text-16
		weight: 500
	color: $text-gray-300
	display: inline-block
	.patHeader-backBt--icon
		vertical-align: -3px
	&:hover
		color: $text-gray-400
		// opacity: .6
//後台名稱及登出
.patHeader-mainArea
	width: auto
	margin-left: -45px
	display: none
	@include computer
		display: block
.patHeader-mainArea-name
	height: 72px
	background: $main-color
	line-height: 72px
	color: #FFF
	display: inline-block
	letter-spacing: 0.5px
.patHeader-mainArea-logoutBt
	display: inline-block
	width: 72px
	height: 72px
	background: $primary-color-600
	line-height: 72px
	text-align: center
	margin-left: -4px
	padding-left: 3px
	.patHeader-mainArea-logoutBt--icon
		vertical-align: -8px
	&:hover
		background: $primary-color-700
		
//倒數計時區
.patHeader-count
	width: 100%
	margin: 30px 0 0 0
	font:
		size: $text-15
		weight: 500
	color: $text-gray-300
	@include ipad
		margin: 40px 0 0 0
	@include computer
		// display: block
		width: auto
		position: absolute
		top: 30px
		right: 45px
		margin: 0
	.patHeader-count--icon
		vertical-align: -3px
//重點資訊區
.patHeader-infoBk
	width: auto
	padding: 40px 0 30px 0
	overflow: hidden
	@include ipad
		padding: 20px 0 30px 0
	@include computer
		padding: 60px 0 40px 0
.patHeader-infoMain
	width: 100%
	float: left
	@include ipad
		width: 60%
	@include computer
		width: 40%
	@include maxcom
	@include maxcom-1920
		width: 20%
.patHeader-infoMain--userImg
	width: 75px
	height: 75px
	float: left
.patHeader-infoMain--titArea
	float: left
.patHeader-infoMain--secondTit
	color: $black
.patHeader-infoMain--mainTit
	color: $main-color
.patHeader-btArea
	width: auto
	float: left
	// @include ipad
	// 	width: 40%
	// 	float: left
	// @include computer
	// 	width: 30%
	// @include maxcom
	// 	width: 25%
	// @include maxcom-1920
	// 	width: 20%
.patHeader-infoCountBk
	display: none
	@include computer
		width: 100%
		margin-top: 20px 
		display: block
		float: left
		overflow: hidden
	@include maxcom
		width: auto
		margin-top: 0px 
.patHeader-infoCountBk--info
	width: auto
	margin-right: 60px
	float: left
	overflow: hidden
	@include maxcom
		margin-right: 90px
	@include maxcom-1920
		margin-right: 120px
	&--tit
		color: $black
	&--number
		color: $main-color
		// font:
		// 	size: $text-28



//頁面標題及強調按鈕
.patTitEmBt
	width: 100%
	padding-top: 40px
	position: relative
	z-index: 1
.patTitEmBt-tit
	// width: auto
	float: left
	@include typoNowrap
	margin: 20px 0 0 0
.patTitEmBt-backBt
	/*mix-blend-mode: difference 要在有底色的狀況之下才有效果*/
	float: left
	margin: 20px 10px 0 0
	width: 40px
	height: 40px
	transition: all 0.2s ease-in-out
	cursor: pointer
	&:hover
		transform: translateX(-8px)
		img
			mix-blend-mode: difference
.patTitEmBt-emBt
	float: right
	margin: 0 0 25px 0
	transition: all 0.2s ease-in-out
.patTitEmBt-total
	width: auto
	float: right
	margin: 0 20px 0 0 
	@include maxcom
		margin: 0 30px 0 0 
	.patTitEmBt-total--tit
		margin-top: -5px
	.patTitEmBt-total--num
		font:
			size: 2.5em
			weight: 800
		color: $main-color
		letter-spacing: -0.5px
		margin-top: -3px
	.patTitEmBt-total--iconSize
		font:
			size: 0.75rem


//手機總覽資訊footer(目前只用於案場總覽資訊)
.patFooter
	width: 100%
	height: 65px
	position: fixed
	z-index: 1
	bottom: 0
	left: 0
	background: $primary-color-100
	padding: 12px 0px 0px 0px
	border-top: $bg-gray-300
	border-bottom: $line-gray
	@include computer
		height: 70px
		padding: 18px 0px 0px 0px
		position: relative
	.patTitEmBt-total
		width: 20%
		float: right
		// padding: 0 5px 0 0 
		margin: 0 0 0 0 
		.patTitEmBt-total--tit
			// margin-top: -5px
			color: $black
			line-height: 1.2
			font:
				size: $text-12
			height: 30px
			text-align: center
			@include maxcom
				font:
					size: $text-15
				height: 20px
		.patTitEmBt-total--num
			font:
				size: $text-20
				weight: 700
			color: $main-color
			text-align: center
			@include maxcom
				font:
					size: $text-28
				weight: 700
		.icon-size
			font:
				size: 0.2rem
			padding: 0 5px 0 0
			transform: scale(0.6)
			vertical-align: -1px
			
/*頁籤切換區*/
.patTabArea 
	height: auto
	width: 100%
	// background: #FFF
	// border-bottom: 1px solid rgba(255,255,255,.2)
	// border-top: 1px solid $text-gray-200
	@include typoNowrap
	overflow-x: auto
	display: flex
	// flex-wrap: nowrap
	// padding: 6px 0 0 0
	// position: fixed
	// left: 0
	// top: 54px
	// z-index: 1
	@include computer
		// position: static
		padding: 8px 0 0 0
		overflow: visible
		overflow-x: visible


/*內頁資料板型*/
.patPageContent-bk
	display: flex
	flex-wrap: wrap
	align-items: flex-start
.patPageContent-33
	width: 100%
	@include ipad
		width: 50%
		padding: 0 20px
	@include maxcom
		width: 33%

.patPageContent-66
	width: 100%
	@include ipad
		width: 50%
		padding: 0 20px
	@include maxcom
		width: 66%

