/*文字相關設定*/
/*文字單行+nowrap*/
@mixin typoNowrap
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap


/*文字基本設定*/
@mixin typoBasic
	font:
		family: $text-style
		size: $text-16
		weight: 500
	color: $black
	line-height: 1.5


h1,h2,h3,h4,h5,h6
	margin: 0 0 0 0	

h1
	@include typoBasic
	font:
		family: 'Montserrat-Medium', sans-serif, NotoSansTC-Regular, sans-serif
		size: $text-54
	line-height: 1.45
	letter-spacing: 1px


h2
	@include typoBasic
	font:
		family: 'Montserrat-Medium', sans-serif, NotoSansTC-Medium, sans-serif
		size: $text-34
	line-height: 1.4
	letter-spacing: 0.5px

h3
	@include typoBasic
	font:
		family: 'Montserrat-Medium', sans-serif, NotoSansTC-Medium, sans-serif
		size: $text-26
	line-height: 1.7
	

h4
	@include typoBasic
	font:
		family: 'Montserrat-Medium', sans-serif, NotoSansTC-regualr, sans-serif
		size: $text-24
	line-height: 1.4

h5
	@include typoBasic
	font:
		family: 'Montserrat-Medium', sans-serif, NotoSansTC-Regualr, sans-serif
		size: $text-14
	line-height: 1.5


h6
	@include typoBasic
	font:
		family: 'Montserrat-Medium', sans-serif, NotoSansTC-Regualr, sans-serif
		size: $text-20
	line-height: 1.4


p
	@include typoBasic
	font:
		weight: 400
		size: $text-17
	line-height: 1.8
	letter-spacing: 0.5s

	
	
.lightSectionTit
	color: $text-gray-300

.typoBluetit
	color: $color-info-500

.typoLightBlueTit
	color: $primary-color-300

.typoWhiteTit
	color: #FFF

.typo-danger
	color: $color-danger

.typo-mainColor
	color: $main-color
	&:hover
		color: $main-color
		text-decoration: underline

.typoBigNumber
	@include typoBasic
	font:
		family: 'Montserrat-Bold', sans-serif
		size: $text-34
		weight: 700
	line-height: 1.5
	letter-spacing: 1px

.typoReadContext
	@include typoBasic
	font:
		size: $text-18
	line-height: 2
