<template>
  
  <div class="about">
    <h1>This is an about page</h1>
    <h2>{{counter}}</h2>
    <img alt="Vue logo" src="@/assets/logo.png">

  </div>
</template>

<script>

import{ onMounted,ref,computed } from 'vue'
import { useMeta } from 'vue-meta'


export default {
  name: "關於我們",
  setup() {
    //原有的meta標籤
    //如同樣標籤已經寫在這裡初始設置的use meta，之後用computed或watched修改不會變動
    useMeta({
      og: {
        // description: '000',
        title: 'ABOUT!!!',
      }
    });
    //vue meta如果要傳值進去，必須使用computed或是watchEffect方式
    const counter = ref(0);
    //webpack圖片路徑問題
    // https://medium.com/@franklion1227/vue-js-%E5%9C%96%E7%89%87%E8%B7%AF%E5%BE%91%E5%95%8F%E9%A1%8C-907d6af6fe88
    //https://segmentfault.com/a/1190000019495695
    const ogimg = require('@/assets/logo.png');
    let meta  = useMeta({
      title: 'ABOUT US ',
    });
    const computedMeta = computed(() => ({
        description : `Counted ${counter.value} times`,
        og:{
          description : `Counted ${counter.value} times`,
          image: ogimg,
        }
      } 
    ));
    meta = useMeta(computedMeta);
    // mounted
    onMounted(() => {
      console.log('Component is onMounted!');
      // document.dispatchEvent(new Event('render-event'))
      // setTimeout(() => {
      // }, 5000)
    });
    return{
      counter,meta,computedMeta,ogimg
    }
  },
  mounted() {
    console.log('Component is mounted!');
    return{

    }
  }
}

</script>
