<template>
  <div class="index">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <!-- <router-link to="/main"  class="indLink"></router-link> -->
    <router-link 
      :to="{
          path: '/main', 
          query: {
              adminGroup: props.query.adminGroup , //query和params也是传送的参数，区别在于query会在路径上显示参数
          }
    }" class="indLink">
   </router-link> 
    <div id="indBk" class="indBk ptb-50 plr-50">
      <div class="indLeftBk">
        <section class="modLogoTitArea">
          <img
            src="../assets/logo.png"
            alt="台中機場LOGO"
            class="modLogoTitArea-logo"
          />
          <h5 class="modLogoTitArea-enTit">
            Taichung International Airport toilet satisfaction<br />
            survey system<br />
          </h5>
        </section>
        <div class="indLeftBk-pageTitArea">
          <div class="indLeftBk-pageTitArea--ChangeTit">
            <h3 class="js-titEn">Please press here to <br />Evalute toilets</h3>
            <h3 class="js-titJp">トイレ満足度調査</h3>
            <h3 class="js-titKr">화장실 만족도 조사</h3>
          </div>
          <h1 class="indLeftBk-pageTitArea--chTit">點擊螢幕畫面替廁所評分</h1>
        </div>
        <img
          src="../assets/decTriangle-01.svg"
          alt=""
          class="indLeftBk-pageTitArea--dec"
        />
        <div class="indLeftBk-pageTitArea--decBt js-decBt">
          <img src="../assets/triangle--maincolor.svg" alt="icon" />
        </div>
      </div>
      <swiper 
        :autoplay='{
          "delay": 3000
        }' 
      >
        <swiper-slide v-for="item of listArr.data" :key="item.adID">
          <img class="" :src="item.adPic" style="width:100%" />
        </swiper-slide>
        <!-- <swiper-slide v-for="item of listArrTest" :key="item.name">
          <img class="" :src="item.photo" style="width:100%" />
        </swiper-slide> -->
      </swiper>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import { onMounted, ref, computed, reactive ,onBeforeMount , onUpdated, beforeCreate, watchEffect, created, watch} from "vue";
import { useMeta } from "vue-meta";
// import { gsap } from 'gsap'
// import { GsapAni } from '@/assets/js/js-gsapAni.js'
//共用動畫FN
import { GsapAni } from "@/composition-api/js-gsapAni.js";
//swiper 的檔案路徑跟官方文件不同，引入時要找出路徑檔案
import 'swiper/swiper.min.css'
import { Swiper, SwiperSlide } from 'swiper/vue/swiper-vue.js'
// 引入各種輪播套件
import SwiperCore, { Autoplay } from "swiper"
import { useRouter, useRoute } from "vue-router"
import axios from "axios"

export default {
  name: "Index",
  // 用props，傳遞route.query，這裡一定要是query
  props: [ "query" , ],
  components: {
    Swiper,
    SwiperSlide,
  },
  beforeCreate() {
    console.log("Component is beforeCreate!");
    return{

    }
  },
  setup(props) {
    const route = useRoute();
    console.log(route.query);
    console.log(props.query);
    // console.log(props.adminNum);
    // const test = ref("");
    // test.value = props.query.adminGroup;
    // console.log(test.value);
    // props.adminNum = ref("");
    // console.log(props.adminNum.value);

    //原有的meta標籤
    //如同樣標籤已經寫在這裡初始設置的use meta，之後用computed或watched修改不會變動
    useMeta({
      title: "待機畫面",
      og: {
        title: "待機畫面",
      },
    });
    //載入共用動畫Fn
    const Ani = GsapAni();
    //抓banner圖
    //要塞值的變數宣告用var，reactive一定要再包一個命名 array{}，ref不用
    // var listArr =  ref([]);
    var listArr =  reactive({data:{}});
    //這裡的圖片檔案預設是public中的檔案
    const listArrTest = reactive(
      [
        { photo:"banner/banner01.png", 
          name: "Zara redesign concept", 
          info:"UX/UI design, 15.07.2019", 
          show: true , 
          status: 0 },
        { photo:"banner/banner02.png", 
          name: "SCTHON event brand identity", 
          info:"Graphic design, 03.31.2019", 
          show: true, 
          status: 1 },
        { photo:"banner/banner01.png", 
          name: "Drozd. Brand identity. 2016", 
          info:"Graphic design, 03.04.2016", 
          show: true, 
          status: 2 },
      ]
    );
    // console.log(listArr);
    // console.log(listArr.value);
    axios
    //這裡的檔案預設是public中的檔案
    .get("voteSave.json", 
      // {
      //   doact: "getbanner",
      // }
    )
    .then((response) => {
      listArr.data = response.data;
    })
    .catch(function (error) {
      // 请求失败处理
      console.log(error);
    });
    //載入輪播，放在這裡Autoplay才會運作
    SwiperCore.use([Autoplay]);
    onBeforeMount(() => {
      console.log("Component is onBeforeMount!");
    });
    onMounted(() => {
      console.log("Component is onMounted!");
    });
    return {
      Ani,
      props,
      listArr,
      listArrTest,
      // route,
      // test
    };
  },
  mounted() {
    console.log('Component is mounted!');
    return {
    };
  },
};
</script>
