<template>
  <div class="login">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <!-- <router-link to="/main"  class="indLink"></router-link> -->
    <router-link 
      :to="{
          path: '/index', 
          query: {
            adminGroup: props.adminNum , //query和params也是传送的参数，区别在于query会在路径上显示参数
          }
    }" class="pagLoginLink">
    </router-link> 
    <h1 class="pagLoginText">
      台中國際機場廁所滿意度調查 <br />
      各主機進入頁
    </h1>
  </div>
  
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

import{ onMounted,ref,computed } from 'vue'
import { useMeta } from 'vue-meta'



export default {
  name: "Index",
  props: [
    'adminNum'
  ],
  setup(props) {
    //原有的meta標籤
    //如同樣標籤已經寫在這裡初始設置的use meta，之後用computed或watched修改不會變動
    useMeta({
      title: '進入畫面',
      og: {
        title: '進入畫面',
      }
    });
    return {
      props 
    };
  },
  mounted() {
    console.log('Component is mounted!');
  }
}

</script>

