<template>
    <div class="pagMainBk">
		<div class="pagMainLeftBk ptb-50 pl-50 pr-50">
			<section class="modLogoTitArea">
				<img src="../assets/logo.png" alt="台中機場LOGO" class="modLogoTitArea-logo">
				<h5 class="modLogoTitArea-enTit">
					Taichung International
					Airport  toilet satisfaction<br />
					survey system<br />
				</h5>
			</section>
			<div class="pagMainLeftBk-pageTitArea">
				<div class="pagMainLeftBk-pageTitArea--ChangeTit">
                <h3 class="js-titEn">Please press here to <br /> Evalute toilets</h3>
                <h3 class="js-titJp">トイレ満足度調査</h3>
                <h3 class="js-titKr">화장실 만족도 조사</h3>
            </div>
				<h1 class="pagMainLeftBk-pageTitArea--chTit">點擊螢幕畫面替廁所評分</h1>
                <!-- <p>{{info}}</p> -->
			</div>
			<img src="../assets/decTriangle-02.svg" alt="" class="pagMainLeftBk-pageTitArea--dec">
            <div class="pagMainLeftBk-pageTitArea--decBt js-decBt">
                <img src="../assets/triangle--maincolor.svg" alt="icon">
            </div>
		</div>
        <div class="pagMainRightBk">
            <a @click="excellentFn" class="pagMainRightBk-list" id="score_5">
                <h2 class="pagMainRightBk-list--chtit">非常滿意</h2>
                <div class="pagMainRightBk-list--titStarArea">
                    <div class="pagMainRightBk-list--changeTitArea">
                        <h4 class="js-titEn">Excellent</h4>
                        <h4 class="js-titJp">非常に満足</h4>
                        <h4 class="js-titKr">매우 만족</h4>
                    </div>
                    <div class="pagMainRightBk-list--starArea">
                        <img src="../assets/star.png" alt="star">
                        <img src="../assets/star.png" alt="star">
                        <img src="../assets/star.png" alt="star">
                        <img src="../assets/star.png" alt="star">
                        <img src="../assets/star.png" alt="star">
                    </div>
                </div>
            </a>
            <a @click="excellentFn" class="pagMainRightBk-list" id="score_4">
                <h2 class="pagMainRightBk-list--chtit">滿意</h2>
                <div class="pagMainRightBk-list--titStarArea">
                    <div class="pagMainRightBk-list--changeTitArea">
                        <h4 class="js-titEn">GOOD</h4>
                        <h4 class="js-titJp">良い</h4>
                        <h4 class="js-titKr">좋은</h4>
                    </div>
                    <div class="pagMainRightBk-list--starArea">
                        <img src="../assets/star.png" alt="star">
                        <img src="../assets/star.png" alt="star">
                        <img src="../assets/star.png" alt="star">
                        <img src="../assets/star.png" alt="star">
                    </div>
                </div>
            </a>
            <a @click="excellentFn" class="pagMainRightBk-list" id="score_3">
                <h2 class="pagMainRightBk-list--chtit">普通</h2>
                <div class="pagMainRightBk-list--titStarArea">
                    <div class="pagMainRightBk-list--changeTitArea">
                        <h4 class="js-titEn">AVERAGE</h4>
                        <h4 class="js-titJp">平均</h4>
                        <h4 class="js-titKr">평균</h4>
                    </div>
                    <div class="pagMainRightBk-list--starArea">
                        <img src="../assets/star.png" alt="star">
                        <img src="../assets/star.png" alt="star">
                        <img src="../assets/star.png" alt="star">
                    </div>
                </div>
            </a>
            <a @click="excellentFn" class="pagMainRightBk-list" id="score_2">
                <h2 class="pagMainRightBk-list--chtit">差</h2>
                <div class="pagMainRightBk-list--titStarArea">
                    <div class="pagMainRightBk-list--changeTitArea">
                        <h4 class="js-titEn">POOR</h4>
                        <h4 class="js-titJp">貧しい</h4>
                        <h4 class="js-titKr">가난한</h4>
                    </div>
                    <div class="pagMainRightBk-list--starArea">
                        <img src="../assets/star.png" alt="star">
                        <img src="../assets/star.png" alt="star">
                    </div>
                </div>
            </a>
            <a @click="excellentFn" class="pagMainRightBk-list" id="score_1">
                <h2 class="pagMainRightBk-list--chtit">非常差</h2>
                <div class="pagMainRightBk-list--titStarArea">
                    <div class="pagMainRightBk-list--changeTitArea">
                        <h4 class="js-titEn">VERY POOR</h4>
                        <h4 class="js-titJp">非常に貧しい</h4>
                        <h4 class="js-titKr">매우 가난한</h4>
                    </div>
                    <div class="pagMainRightBk-list--starArea">
                        <img src="../assets/star.png" alt="star">
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

import{ onMounted,ref,computed,methods } from 'vue'
import { useMeta } from 'vue-meta'
import { useRouter, useRoute } from "vue-router"
import axios from 'axios'
//共用動畫FN
import { GsapAni } from '@/composition-api/js-gsapAni.js'
// baseURL是你API的主要Domain，之後發請求時只要填相對路徑就可以了
const instance = axios.create({
    headers: { 'Content-Type': 'application/json' },
    // baseURL: 'http://192.168.1.3:8080/',
    // timeout: 20000,
    // proxy: {
        // host: '127.0.0.1',
        // port: 9000,
        // auth: {
        // adminGroup: '202110000001',
        // }
    // },
});



export default {
    name: "Main",
    props: [ "query",],
    setup(props) {
        //不要在setup中使用this，也不能在箭頭函式中使用this
        //原有的meta標籤
        //如同樣標籤已經寫在這裡初始設置的use meta，之後用computed或watched修改不會變動
        useMeta({
        title: '評分畫面',
        og: {
            title: '評分畫面',
        }
        });
        console.log('Component is setup!');
        //載入共用動畫Fn
        const Ani = GsapAni();
        //超過30秒無反應自動跳轉回待機畫面
        const router = useRouter();
        setTimeout(() => router.push({ 
            path: "/",
            query: {
                adminGroup: props.query.adminGroup,
            }
        }), 30000); 
        //評分判斷
        const excellentFn = (event) => {
            //event.currentTarget是註冊事件時所指向的元素，
            //而event.target是響應事件的最小子元素，也就是最深層級的觸發事件的元素，需要開發者合理使用。
            const targetId = event.currentTarget.id;
            const getNum = targetId.split("_")[1];
            console.log(getNum);
            axios
                //任何放置在 public 文件夹的静态资源都会被简单的复制，而不经过 webpack。你需要通过绝对路径来引用它们。
                //https://www.cnblogs.com/cckui/p/10315204.html
                .get('voteSave.php',
                    {   "adminGroup" : props.query.adminGroup, 
                        "qsValue" : getNum 
                    })
                .then((response) => {
                    // console.log(response.data);
                    if (getNum == "1" || getNum == "2") {
                        router.push({ 
                            path: "/reason",
                            query: {
                                adminGroup: props.query.adminGroup
                            }
                        });
                    } else {
                        router.push({ 
                            path: "/resultGood", 
                            query: {
                                adminGroup: props.query.adminGroup
                            }
                        });
                    }    
                })
                .catch(function (error) { // 请求失败处理
                    console.log(error);
            });
        };
        
        onMounted(() => {
            console.log('Component is onMounted!');
            // console.log(props.adminNum);
            //抓網址後參數：寫法一
            // const router = useRouter();
            // const adminGroupNum = this.$route.query.adminGroup;
            // console.log(adminGroupNum);
            //抓網址後參數：寫法二
            // const params = (new URL(document.location)).searchParams;
            // const number = parseInt(params.get('adminGroup'));
            // console.log(adminGroupNum);
        });
        return { 
            Ani,
            excellentFn,
            props,
        };
    },
    created() {
        console.log('Component is mounted!');
        return{
            
        };
    },
    mounted() {
        setTimeout(() => {
        }, 2000)       
        return{
        };
    },
    methods(){
        return{
        };
    }
}

</script>

