<template>
    <div class="pagReasonBk ptb-50 plr-50">
		<div class="pagReason-topBanner">
			<section class="modLogoTitArea">
				<img src="../assets/logo.png" alt="台中機場LOGO" class="modLogoTitArea-logo">
				<h5 class="modLogoTitArea-enTit modLogoTitArea-enTit--long">
					Taichung International<br />
					Airport  toilet satisfaction<br />
					survey system<br />
				</h5>
                <div class="modLogoTitArea-pageTitArea plr-50">
					<h2 class="modLogoTitArea-pageTitArea--chTit pt-30">選擇不滿意項目</h2>
					<div class="modLogoTitArea-pageTitArea--changeTit pt-12">
						<h5 class="js-titEn">Select unsatisfactory items</h5>
						<h5 class="js-titJp">物足りないものを選ぶ</h5>
						<h5 class="js-titKr">불만족스러운 항목 선택</h5>
					</div>
				</div>
			</section>
		</div>
        <div class="pagReason-mainArea">
			<a @click="resonChFn" class="pagReason-mainArea--list" id="reason_1">
				<img src="../assets/icon-01.svg" alt="無衛生紙" class="pagReason-mainArea--listIcon">
				<div class="pagReason-mainArea--listTextArea">
					<h3 class="pagReason-mainArea--chTit pb-5">無衛生紙</h3>
					<div class="pagReason-mainArea--cahngeTit">
						<h5 class="js-titEn">Run out of toilet paper</h5>
						<h5 class="js-titJp">トイレットペーパーが足りない</h5>
						<h5 class="js-titKr">화장지가 부족하다</h5>
					</div>
				</div>
			</a>
            <a @click="resonChFn" class="pagReason-mainArea--list" id="reason_2">
				<img src="../assets/icon-05.svg" alt="無洗手乳" class="pagReason-mainArea--listIcon">
				<div class="pagReason-mainArea--listTextArea">
					<h3 class="pagReason-mainArea--chTit pb-5">無洗手乳</h3>
					<div class="pagReason-mainArea--cahngeTit">
						<h5 class="js-titEn">Run out of hand wash gel</h5>
						<h5 class="js-titJp">手洗いジェルが不足しています</h5>
						<h5 class="js-titKr">핸드워시 젤 부족</h5>
					</div>
				</div>
			</a>
            <a @click="resonChFn" class="pagReason-mainArea--list" id="reason_3">
				<img src="../assets/icon-02.svg" alt="有異味" class="pagReason-mainArea--listIcon">
				<div class="pagReason-mainArea--listTextArea">
					<h3 class="pagReason-mainArea--chTit pb-5">有異味</h3>
					<div class="pagReason-mainArea--cahngeTit">
						<h5 class="js-titEn">Bad smell</h5>
						<h5 class="js-titJp">悪臭</h5>
						<h5 class="js-titKr">나쁜 냄새</h5>
					</div>
				</div>
			</a>
            <a @click="resonChFn" class="pagReason-mainArea--list" id="reason_4">
				<img src="../assets/icon-06.svg" alt="地板濕滑" class="pagReason-mainArea--listIcon">
				<div class="pagReason-mainArea--listTextArea">
					<h3 class="pagReason-mainArea--chTit pb-5">地板濕滑</h3>
					<div class="pagReason-mainArea--cahngeTit">
						<h5 class="js-titEn">Wet floor</h5>
						<h5 class="js-titJp">ぬれた床</h5>
						<h5 class="js-titKr">젖은 바닥</h5>
					</div>
				</div>
			</a>
            <a @click="resonChFn" class="pagReason-mainArea--list" id="reason_5">
				<img src="../assets/icon-03.svg" alt="垃圾未清" class="pagReason-mainArea--listIcon">
				<div class="pagReason-mainArea--listTextArea">
					<h3 class="pagReason-mainArea--chTit pb-5">垃圾未清</h3>
					<div class="pagReason-mainArea--cahngeTit">
						<h5 class="js-titEn">Full of trash</h5>
						<h5 class="js-titJp">ゴミだらけ</h5>
						<h5 class="js-titKr">쓰레기가 가득</h5>
					</div>
				</div>
			</a>
            <a @click="resonChFn" class="pagReason-mainArea--list" id="reason_6">
				<img src="../assets/icon-07.svg" alt="水槽髒汙" class="pagReason-mainArea--listIcon">
				<div class="pagReason-mainArea--listTextArea">
					<h3 class="pagReason-mainArea--chTit pb-5">水槽髒汙</h3>
					<div class="pagReason-mainArea--cahngeTit">
						<h5 class="js-titEn">Dirty sink</h5>
						<h5 class="js-titJp">汚れた流し</h5>
						<h5 class="js-titKr">더러운 싱크대</h5>
					</div>
				</div>
			</a>
            <a @click="resonChFn" class="pagReason-mainArea--list" id="reason_7">
				<img src="../assets/icon-04.svg" alt="馬桶髒污" class="pagReason-mainArea--listIcon">
				<div class="pagReason-mainArea--listTextArea">
					<h3 class="pagReason-mainArea--chTit pb-5">馬桶髒污</h3>
					<div class="pagReason-mainArea--cahngeTit">
						<h5 class="js-titEn">Dirty of toilet seat</h5>
						<h5 class="js-titJp">便座が汚れている</h5>
						<h5 class="js-titKr">변기의 더러운</h5>
					</div>
				</div>
			</a>
            <a @click="resonChFn" class="pagReason-mainArea--list" id="reason_8">
				<img src="../assets/icon-08.svg" alt="設備故障" class="pagReason-mainArea--listIcon">
				<div class="pagReason-mainArea--listTextArea">
					<h3 class="pagReason-mainArea--chTit pb-5">設備故障</h3>
					<div class="pagReason-mainArea--cahngeTit">
						<h5 class="js-titEn">Repair equipment</h5>
						<h5 class="js-titJp">修理設備</h5>
						<h5 class="js-titKr">수리 장비</h5>
					</div>
				</div>
			</a>
        </div>
	</div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

import{ onMounted,ref,computed,methods } from 'vue'
import { useMeta } from 'vue-meta'
import { useRouter, useRoute } from 'vue-router'
import axios from 'axios'
//共用動畫FN
import { LanAni } from '@/composition-api/js-gsapAni.js'
// baseURL是你API的主要Domain，之後發請求時只要填相對路徑就可以了
// const instance = axios.create({
    // headers: { 'Content-Type': 'application/json' },
    // baseURL: 'http://192.168.1.3:8080/',
    // timeout: 20000,
    // proxy: {
    //     // host: '127.0.0.1',
    //     // port: 9000,
    //     auth: {
    //     adminGroup: '202110000001',
    //     }
    // },
// });



export default {
    name: "Main",
    props: [ "query", ],
    setup(props) {
        //不要在setup中使用this，也不能在箭頭函式中使用this
        //原有的meta標籤
        //如同樣標籤已經寫在這裡初始設置的use meta，之後用computed或watched修改不會變動
        useMeta({
        title: '不滿意選項畫面',
        og: {
            title: '不滿意選項畫面',
        }
        });
        console.log('Component is setup!');
        //載入共用動畫Fn
        const Ani = LanAni();
        //超過30秒無反應自動跳轉回待機畫面
        const router = useRouter();
        setTimeout(() => router.push({ 
            path: "/",
            query: {
                adminGroup: props.query.adminGroup
            }
        }), 30000); 
        //評分判斷
        const resonChFn = (event) => {
            //event.currentTarget是註冊事件時所指向的元素，
            //而event.target是響應事件的最小子元素，也就是最深層級的觸發事件的元素，需要開發者合理使用。
            const targetId = event.currentTarget.id;
            const getNum = targetId.split("_")[1];
            console.log(getNum);
            axios
                .get('voteSave.php',
                    {   "adminGroup" : props.query.adminGroup , 
                        "qsValue" : getNum ,
                        "doact" : "votereason" ,
                    })
                .then((response) => {
                    if (response.data.result == true) {
                        router.push({ 
                            path: "/resultBad",
                            query: {
                                adminGroup: props.query.adminGroup
                            }
                        });
                    } else {
                        // alert(data);
                        // $("body").nimbleLoader("hide");
                    }
                })
                .catch(function (error) { // 请求失败处理
                    console.log(error);
            });
        };
        
        onMounted(() => {
            console.log('Component is onMounted!');
        });
        return { 
            Ani,
            resonChFn,
            props,
        };
    },
    created() {
        console.log('Component is mounted!');
        return{
            
        };
    },
    mounted() {
        setTimeout(() => {
        }, 2000)       
        return{
        };
    },
    methods(){
        return{
        };
    }
}

</script>

