<template>
    <div class="pagResultBk ptb-50 plr-50">
		<div class="pagResult-topBanner">
			<section class="modLogoTitArea">
				<img src="../assets/logo.png" alt="台中機場LOGO" class="modLogoTitArea-logo">
				<h5 class="modLogoTitArea-enTit">
					Taichung International
					Airport  toilet satisfaction<br />
					survey system<br />
				</h5>
                <div class="modLogoTitArea-decArea"></div>
			</section>
		</div>
        <div class="pagResult-mainArea pt-70 plr-60">
			<img src="../assets/decTriangle-02.svg" alt="" class="pagResult-mainArea--dec">
            <h3 class="pb-50">Thank you for your feedback , we strive to service !</h3>
            <h1 class="pb-50">
				感謝您的寶貴意見 <br />
				我們會盡力改善！
            </h1>
            <h4 class="pb-12">貴重なコメントありがとうございます , 改善に全力を尽くします！</h4>
            <h4 class="">소중한 의견 감사합니다 , 우리는 개선하기 위해 최선을 다할 것입니다 !</h4>
        </div>
	</div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

import{ onMounted,ref,computed,methods } from 'vue'
import { useMeta } from 'vue-meta'
import { useRouter } from 'vue-router'




export default {
    name: "Main",
    props: [ "query", ],
    setup(props) {
        //不要在setup中使用this，也不能在箭頭函式中使用this
        //原有的meta標籤
        //如同樣標籤已經寫在這裡初始設置的use meta，之後用computed或watched修改不會變動
        useMeta({
        title: '評分良好頁',
        og: {
            title: '評分良好頁',
        }
        });
        console.log('Component is setup!');
        //超過5秒自動跳轉回待機畫面
        const router = useRouter();
        const goToIndex = setTimeout(() => router.push({ 
            path: "/" ,
            query: {
                adminGroup: props.query.adminGroup
            }
        }), 5000); 
        onMounted(() => {
            console.log('Component is onMounted!');
        });
        return { 
            props
        };
    },
    created() {
        console.log('Component is mounted!');
        return{
        };
    },
    mounted() {
    },
    methods(){
        
    }
}

</script>

