<template>
  <div class="">
    <!-- vue-meta進入點 -->
    <metainfo>
      <template v-slot:title="{ content }">{{ content }} - 臺中國際機場廁所滿意度調查系統</template>
    </metainfo>
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <!-- <router-view :adminNum ="adminGroupNum" /> -->
    <router-view  />
  </div>
</template>

<style lang="scss">
</style>

<script>
import{ onMounted , ref , computed} from 'vue'
import { useMeta } from 'vue-meta'
import { createRouter , useRouter, useRoute } from 'vue-router'



export default {
  setup () {
    // vue-meta基本設置
    useMeta({
      title: '臺中國際機場廁所滿意度調查系統',
      htmlAttrs: { lang: 'Zh-tw', amp: true },
      og: {
        locale: 'zh_TW',
        type: 'website',
        title: '臺中國際機場廁所滿意度調查系統',
        site_name: '臺中國際機場廁所滿意度調查系統',
        description: '臺中國際機場廁所滿意度調查系統',
        //一個meta標籤，標記多種屬性的寫法
        // image: [{
        //   type: 'image/png', 
        //   width: '1500', 
        //   height: '1500' 
        // }]
      }
    });
    //js中img一定要用require引用，直接寫'@/assets/ogimage.png' webpack不會編譯
    //https://medium.com/@franklion1227/vue-js-%E5%9C%96%E7%89%87%E8%B7%AF%E5%BE%91%E5%95%8F%E9%A1%8C-907d6af6fe88
    //https://kknews.cc/zh-tw/code/kl6v2b8.html
    const ogimg = require('@/assets/ogimage.png');
    let meta  = useMeta({
      // 抓banner圖 //
      //如果你分享文章的縮圖要是寬版的大圖的話，那你的圖片至少要大於 600 x 315 px //
      //最大圖片大小不能超過 5MB,圖片的寬高最大不能超過 1500 x 1500 px //
      //meta自定義寫法,og:image:width、og:image:height...等多項嵌套標籤，實測只能用此方式標記
      meta: [
        {
          'property': 'og:image:type',
          'content': 'image/png'
        },
        {
          'property': 'og:image:width',
          'content': '1500'
        },
        {
          'property': 'og:image:height',
          'content': '1500'
        },
        {
          'property': 'mobile-web-app-capable',
          'content': 'yes'
        }
      ]
    });
    const computedMeta = computed(() => ({
        og:{
          image: ogimg,
        }
      } 
    ));
    meta = useMeta(computedMeta);
    //拆字串網址取得參數
    // var adminGroupNum = '';
    // var url = window.location.href ;        //拿到当前页面url,vue编译完成的页面会有'#/'例如http://c.baidu.com/mark?setId=64#/
    // if(url.indexOf('?')!=-1)
    // {
    //   // var dz_url = url.split('#')[0];         //#前面的有用字符
    //   var cs = url.split('?')[1];          //?后面的参数字符串
    //   var cs_arr = cs.split('&');             //将参数字符串分割为包含多个参数的数组
    //   var cs = {};                              //声明一个容器
    //   for(var i=0;i<cs_arr.length;i++){       //遍历数组
    //     //将下标为0123的数组字符串，转化为    {key1:value1;key2:value2;}  格式的json
    //     cs[cs_arr[i].split('=')[0]] = cs_arr[i].split('=')[1]
    //   }
    //   console.log(cs.adminGroup);
    //   adminGroupNum = cs.adminGroup;
    //   console.log(adminGroupNum);
    // }
    return{
      meta, computedMeta, ogimg ,
    }
  },
  mounted() {
  }
}
</script>

